.companyLogos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.logo {
  width: 200px;
  height: 100%;
}
